
<div class="head ml-5 mr-5">
<p>
  <a routerLink="/admin/products/new" class="btn btn-primary"
  style='background-color: #3f51b5'>
    New Product</a>
</p>
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput>
        <label for="search">Search</label>
      </div>
    </div>
  </div>
  <table mdbTable class="z-depth-1"  #tableEl="mdbTable">
    <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="products" [sortBy]="headElements[i]">{{head | titlecase}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index">

        <th *ngIf="i + 1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
          scope="row">{{i + 1}}</th>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ product.title }}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ product.price | currency:"USD":true}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a [routerLink]="['/admin/products/', product.key ]" style="color: #3f51b5;">Edit</a></td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="products"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
  </table>
</div>
</div>
